.titulo{
    color: purple;
    text-align: center;

}

.img{
    width: 60%;
    height: 60%;
    display: block; /*transforma a img em um bloco, podendo assim movela ou dimencionar*/
    margin: 0 auto; /*assim ele fica centralizada*/
}